/bin/
/target/
/.settings/
/.DS_Store

target/classes/com/motelmanager/domain/Entrada.class

target/classes/com/motelmanager/domain/Factura.class

target/classes/com/motelmanager/domain/Persona.class

target/classes/com/motelmanager/domain/Producto.class

target/classes/com/motelmanager/domain/Salida.class

target/classes/com/motelmanager/repository/JPAEntradaDAO.class

target/classes/com/motelmanager/repository/EntradaDAO.class

target/classes/com/motelmanager/repository/JPAProductoDAO.class

target/classes/com/motelmanager/repository/JPASalidaDAO.class

target/classes/com/motelmanager/repository/SalidaDAO.class

target/classes/com/motelmanager/service/EntradaManager.class

target/classes/com/motelmanager/service/SalidaManager.class

target/classes/com/motelmanager/service/SimpleEntradaManager.class

target/classes/com/motelmanager/service/SimpleSalidaManager.class

target/classes/com/motelmanager/web/bean/inventario/EntradasManageBean.class

target/classes/com/motelmanager/web/bean/inventario/SalidasManageBean.class

target/classes/META-INF/persistence.xml

target/m2e-wtp/web-resources/META-INF/maven/MotelManager/MotelManager/pom.properties

target/m2e-wtp/web-resources/META-INF/maven/MotelManager/MotelManager/pom.xml

target/test-classes/com/motelmanager/repository/JPAEntradaDAOTest.class

target/test-classes/com/motelmanager/repository/JPASalidaDAOTest.class

target/test-classes/jdbc.properties

target/test-classes/test-context.xml
/.classpath
/.springWebflow
